<app-top-bar></app-top-bar>

<div class="container">
  <div class="tutto">


  <ul *ngFor="let i of vettore">
    <div *ngIf= "i>8">
     {{i}}
    </div>


  </ul>
  <p>ciao</p>


<app-spese></app-spese>
<app-vendite></app-vendite>
<app-gestione [venditina]="vendita" [spesa]="spesa">

</app-gestione>


  
</div>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->