<h2>Products</h2>
<div *ngFor="let product of products">
  <h4>
    <a [title]="'il prezzo è ' + product.price"
    [routerLink]="['products', product.id]">
      {{ product.name }}
    </a>

  </h4>
  <p *ngIf="product.description">Description: {{ product.description }}</p>

  <button type="button" (click)="bestemmia()">Bestemmia!</button>

  <app-product-alerts class="pipito" [product]="product" (notify)="onNotify()">
  </app-product-alerts>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
